<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="card">
    <div class="card-header text-center bg-info text-white">
      <h1>Post-édition de phrases traduites en pictogrammes ARASAAC</h1>
    </div>
    <div class="card-body">
      <h1 class="text-center">Merci de votre participation !</h1>
      <p class="text-center">Pour toutes questions relatives au projet, vous pouvez nous contacter à l'adresse suivante : <strong>corpuspropicto@univ-grenoble-alpes.fr</strong></p>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/logos.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm float-end">
          <img src="../../../assets/images/propicto.png" width="150px" height="auto" class="rounded float-right" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
