<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="card">
    <div class="card-header text-center bg-info text-white">
      <h1>Post-édition de phrases traduites en pictogrammes ARASAAC</h1>
    </div>
    <div class="card-body">
      <h2 class="text-left">Présentation de la tâche</h2>
      <p class="text-justify">
        La tâche que nous vous présentons est une tâche de post-édition, qui consiste à vérifier les traductions proposées par un outil.<br>
        À l'écran, vous serons proposés des phrases suivies de leur traduction en pictogrammes ARASAAC. Votre but est simplement de les corriger.
        Les instructions sont données à la page suivante.<br>
        Ce travail est intégré au projet de thèse de Cécile MACAIRE, intitulé "Traduction automatique de la parole vers des pictogrammes".
        Le but est de transcrire la parole en une séquence de pictogrammes. Cette thèse est financée par le projet PROPICTO, décrit ci-dessous.
      </p>
      <h2 class="text-left">Projet PROPICTO</h2>
      <p class="text-justify">
        PROPICTO est un projet bilatéral franco-suisse, financé respectivement par l'Agence Nationale française pour la Recherche (ANR) et le Fonds National Suisse de la recherche scientifique (FNS). Ce programme de recherche de 4 ans est mené en collaboration entre le Département de Technologie de la Traduction (TIM) de l'Université de Genève et le Groupe d'Étude de la Traduction Automatique et du Traitement Automatique des Langues et de la Parole (GETALP), rattaché au Laboratoire d'Informatique de Grenoble (LIG).
        L'objectif global de PROPICTO (PRojection du langage Oral vers des unités PICTOgraphiques) est de créer des systèmes de traduction permettant de convertir de la parole en une séquence de pictogrammes.
        Ces systèmes permettront ainsi d'améliorer l'accès à la communication pour les non-francophones (allophones) ou les personnes en situation de handicap langagier pour communiquer avec leur proche, et le personnel médical.
      </p>
      <br>
      <p class="text-justify">Aucune donnée personnelle n'est récupérée. Pour toutes questions relatives au projet, vous pouvez nous contacter à l'adresse suivante : <strong>corpuspropicto@univ-grenoble-alpes.fr</strong></p>
      <div class="custom-control custom-checkbox float-right">
        <input type="checkbox" (change)="toggleEditable($event)" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">J'ai lu et j'accepte les termes et conditions</label>
      </div><br/><br/>
      <button (click)="goToPage()" class="btn btn-success float-right ml-2">Commencer</button>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/logos.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm float-end">
          <img src="../../../assets/images/propicto.png" width="150px" height="auto" class="rounded float-right" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>


